@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  [data-theme='dark'] {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  @apply bg-background text-foreground;
  font-family: 'Poppins', sans-serif;
}
